[Desktop Entry]
Type=Application
Categories=Qt;X-SuSE-YaST;X-SuSE-YaST-Security;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=groups

X-SuSE-YaST-Group=Security
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=

Icon=yast-groups
Exec=/sbin/yast2 groups

Name=Group Management
Name[cs]=Správce skupin
Name[de]=Gruppen bearbeiten und anlegen
Name[es]=Editar y crear grupos
Name[hu]=Csoportok létrehozása és módosítása
Name[it]=Modifica e crea gruppi
Name[ko]=그룹 편집/생성
Name[nl]=Wijzigen en aanmaken van groepen
Name[pt]=Editar e criar grupos
Name[sk]=Upraviť a vytvoriť skupiny
Name[sv]=Redigera och skapa grupper
Name[bg]=Редактиране и създаване на групи
Name[da]=Redigér og opret grupper
Name[el]=Επεξεργαστείτε και δημιουργήστε ομάδες
Name[fr]=Modifier et créer des groupes
Name[ja]=グループを作成あるいは編集する
Name[lt]=Keisti ir sukurti grupes
Name[sl]=Uredi in kreiraj skupine
Name[tr]=Grup ekle ve düzenle
X-KDE-SubstituteUID=true
