[Desktop Entry]
Type=Application
Categories=Qt;X-SuSE-YaST-Security;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-KDE-FactoryName=users_groups

X-SuSE-YaST-Group=Security
X-SuSE-YaST-Argument=groups
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoinstResource=

Icon=sysadmin
Exec=/sbin/yast2 users groups

Name=Edit and create groups
GenericName=Edit and create groups
Name[cs]=Správce skupin
GenericName[cs]=Správce skupin
Name[de]=Gruppen bearbeiten und anlegen
GenericName[de]=Gruppen bearbeiten und anlegen
Name[es]=Editar y crear grupos
GenericName[es]=Editar y crear grupos
Name[hu]=Csoportok létrehozása és módosítása
GenericName[hu]=Csoportok létrehozása és módosítása
Name[it]=Modifica e crea gruppi
GenericName[it]=Modifica e crea gruppi
Name[ko]=그룹 편집/생성
GenericName[ko]=그룹 편집/생성
Name[nl]=Wijzigen en aanmaken van groepen
GenericName[nl]=Wijzigen en aanmaken van groepen
Name[pt]=Editar e criar grupos
GenericName[pt]=Editar e criar grupos
Name[sk]=Upraviť a vytvoriť skupiny
GenericName[sk]=Upraviť a vytvoriť skupiny
Name[sv]=Redigera och skapa grupper
GenericName[sv]=Redigera och skapa grupper
Name[bg]=Редактиране и създаване на групи
GenericName[bg]=Редактиране и създаване на групи
Name[da]=Redigér og opret grupper
GenericName[da]=Redigér og opret grupper
Name[el]=Επεξεργαστείτε και δημιουργήστε ομάδες
GenericName[el]=Επεξεργαστείτε και δημιουργήστε ομάδες
Name[fr]=Modifier et créer des groupes
GenericName[fr]=Modifier et créer des groupes
Name[ja]=グループを作成あるいは編集する
GenericName[ja]=グループを作成あるいは編集する
Name[lt]=Keisti ir sukurti grupes
GenericName[lt]=Keisti ir sukurti grupes
Name[sl]=Uredi in kreiraj skupine
GenericName[sl]=Uredi in kreiraj skupine
Name[tr]=Grup ekle ve düzenle
GenericName[tr]=Grup ekle ve düzenle
